.carousel{
    margin-left: 170px;
   
    width: 75%;

    }

    .left-rating {
        width: 50%;
    }
    .students{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin: 20px;
    }
    .fa-star.filled{
color: 
#FFC014;
}
.containers{
    background-color: #111827;  
}

.Video{
    width:50%;
    margin-left: 25%;
}